/* Styles go here */
body	{ 
  background:url("http://vignette3.wikia.nocookie.net/koror-blog-org/images/6/6e/Black_and_White_Beach_Landscape_Wallpaper_HD_(12).jpg/revision/latest?cb=20140908031733");
  background-repeat: no-repeat; 
  background-attachment:fixed;
  background-size: 80%;
  background-position: center;
  background-color: #4a4943;
}
nav {
  display: inline;
  color: #ffffff;
  text-align: right;
}
nav li {
  display: inline;
  text-align: right;
}
nav ul {
  font-family: "Courier";
  display: inline;
  position: relative;
  top: 2px;
  text-align: right;
  }

h1 {
  font-family: "Courier";
  font-size: 80px;
  color: #4a4943;
  background-color: #BEBEBE;
  border: 5px solid #ffffff;
  margin: 0;
  text-align: center;
}
h3 {
  font-family: "Courier";
  color: #4a4943;
  background-color: #BEBEBE;
  margin: 10px;
  padding: 5px;
  text-align: center;
}
.gallery-complete {
  display: flex;
  flex-wrap: wrap;
}
.container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height:300px;
  width: 150px;
  border: 5px #ffffff solid;
  margin: auto;
  repeat: no-repeat;
}
a {
  color: #ffffff;
  
}
